body{

    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.Rectangle{

background: #C4C4C4;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

header img{
    max-height: 50vh;
}
header h1, header h3{
    grid-column: span 3;
    background-color: grey;
    text-align: center;
    padding: 1rem;
}

header p{
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.com{
  
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 29px;

color: #000000;

mix-blend-mode: darken;
 


}

.world{

    
    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    
    color: #000000;
}


.steve{
    
    background: url(steve.jpg);
}

.p{
    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
button{

font-family: Rock Salt;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 29px;

color: #000000;

mix-blend-mode: darken;
}

.p{ 
    text-align: left;
    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

color: #000000;
}

.next{
    
    display: flex;
    align-items: center;
    grid-column: span 3;
    background-color: rgb(182, 182, 182);
    text-align: center;
    padding: 1rem;

}
.mac{
  grid-column-end: auto;
  justify-content: end;
  margin-right: auto;
  margin-right: auto;
  overflow: auto;

}